@terraform-app:registry=https://us-east4-npm.pkg.dev/terraform-app-458517/terraform-npm/
//us-east4-npm.pkg.dev/terraform-app-458517/terraform-npm/:_authToken="ya29.a0AZYkNZiQWd_eXXiVZKOI609DEiDp-WylKW2IZOpm82lmxvwSoLLEct3wTmyikfcs_I94Y8KY3wnoVfiX7SowtMfmpcCQBBjIyl0TgBN67LZ92zZziFVt224QaBl_VjmskUoV4ZJefanHtbxAtEBS7-2jPCfR7buOji8x3KXFgh1XTAaCgYKAUASARISFQHGX2Mi2o3VAYE5ohkL0f3w_KPOZw0181"